{% raw %}{
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/opt/ping/pingfederate-12.1.4/pingfederate/log/runtime-request.log",
            "log_group_name": "/ciam/prod/access",
            "log_stream_name": "{instance_id}/pingfederate/log/runtime-request.log"
          },
          {
            "file_path": "/opt/ping/pingfederate-12.1.4/pingfederate/log/request.log",
            "log_group_name": "/ciam/prod/access",
            "log_stream_name": "{instance_id}/pingfederate/log/request.log"
          },
          {
            "file_path": "/opt/ping/pingfederate-12.1.4/pingfederate/log/audit.log",
            "log_group_name": "/ciam/prod/audit",
            "log_stream_name": "{instance_id}/pingfederate/log/audit.log"
          },
          {
            "file_path": "/opt/ping/pingfederate-12.1.4/pingfederate/log/provisioner-audit.log",
            "log_group_name": "/ciam/prod/audit",
            "log_stream_name": "{instance_id}/pingfederate/log/provisioner-audit.log"
          }
        ]
      }
    }
  }
}
{% endraw %}